trigger: none

pool: ADO_Agent

stages:
  - stage: initValidatePlan
    displayName: Init, Validate and Plan
    jobs:
      - job: initValidatePlanJob
        displayName: Init Validate Plan Job
        steps:
        - task: TerraformTask@5
          displayName: Terraform Init
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
            backendServiceArm: 'ado_azure_sp'
            backendAzureRmStorageAccountName: 'ashokstgpipeline01'
            backendAzureRmContainerName: 'devtfstate'
            backendAzureRmKey: 'terraform.dev.tfstate'

        - task: TerraformTask@5
          displayName: Terraform Validate
          inputs:
            provider: 'azurerm'
            command: 'validate'
            workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'

        - task: TerraformTask@5
          displayName: Terraform Plan
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
            environmentServiceNameAzureRM: 'ado_azure_sp'

  - stage: SecurityScan
    displayName: TFSec&TFLint
    jobs:
      - job: 
        displayName: Running TFSec
        steps:
        - task: tfsec@1
          inputs:
            version: 'v1.26.0'
            dir: '$(System.DefaultWorkingDirectory)'  

      - job: Tflinit
        displayName: Tflint
        steps:
          - task: PowerShell@2
            displayName: Running TFLint
            inputs:
              targetType: 'inline'
              script: 'tflint.exe --recursive'
              workingDirectory: '$(System.DefaultWorkingDirectory)'
    
    

